/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-react-next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .swiper-button-react-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  